<div class="keen-slider" #sliderRef>
    @for(img of images; track $index) {
        <div class="keen-slider__slide slide-container">
            <img [src]="img.file || img.url" [alt]="img.title" [title]="img.title" />
            <div class="caption">{{img.title}}</div>
        </div>
    }
    @if(images.length > 1) {
        <a mat-icon-button class="prev" role="button" (click)="slider.prev()">
            <mat-icon fontIcon="chevron_left" />
        </a>
        <a mat-icon-button class="next" role="button" (click)="slider.next()">
            <mat-icon fontIcon="chevron_right" />
        </a>
    }
</div>