<div class="keen-slider" #sliderRef>
    <ng-container *ngFor="let img of images$ | async">
        <div class="keen-slider__slide slide-container">
            <img [src]="img.url" [alt]="img.title" [title]="img.title" />
            <div class="caption">{{img.title}}</div>
        </div>
    </ng-container>
    @if(images().length > 1) {
        <button mat-icon-button class="prev" aria-label="Zurück" (click)="slider.prev()">
            <mat-icon fontIcon="chevron_left" />
        </button>
        <button mat-icon-button class="next" aria-label="Weiter" (click)="slider.next()">
            <mat-icon fontIcon="chevron_right" />
        </button>
    }
</div>