<section>
    @for (item of controls; track $index) {
        <div [@next]="show($index)">
            <ng-container *ngTemplateOutlet="template; context: { $implicit: item, disabled: disabled($index) }">
            </ng-container>
        </div>
    }
    <span class="footer">
        <app-progress-spinner [@next]="!done ? 'expanded' : 'collapsed'" [value]="progress" [size]="60">
            <button mat-icon-button class="next" color="primary"
                [title]="last ? 'Fertig' : 'Weiter'" (click)="next();">
                <mat-icon [fontIcon]="last ? 'check' : 'arrow_downward'" />
            </button>
        </app-progress-spinner>
    </span>
</section>