<app-loading [loading]="loading">
    <header>
        <h1>{{ greeting }}, {{ userName ?? randomName() }}</h1>
        <h2 mat-subheader>{{'start.intro' | t}}</h2>
        <div role="progress">
            @for(unit of units(); track $index) {
                <a href="#{{unit.order}}">
                    <app-progress-spinner [size]="50" [value]="unitProgressPercent(unit)">
                        <small>{{unitProgressPercent(unit)}}%</small>
                    </app-progress-spinner>
                    <div>{{'start.unit' | t}} {{ unit.order }}</div>
                </a>
                <p>
                    <mat-divider vertical="true" />
                </p>
            }
        </div>
        <summary class="summary">
            <mat-icon color="primary" fontIcon="analytics"></mat-icon>
            <a role="button" [routerLink]="['/summary']">{{'start.summary' | t}}</a>
        </summary>
        <app-markdown class="content" content="{{overview}}" />
    </header>

    @for(unit of units(); track unit; let ui = $index) {
        <div class="unit">
            <div class="header" [id]="unit.order">
                <span mat-subheader>Einheit {{unit.order}} &mdash; {{unit.caption}}</span>
                <h2>{{unit.title}}</h2>
            </div>
            <p>
                <mat-divider />
            </p>
            <div class="card-container">
                @for (page of (unit.pages()); track page; let pi = $index) {
                    <mat-card class="card">
                        <mat-card-header class="card-header">
                            <div class="card-title">
                                <mat-card-title [title]="page.status">
                                    <h3>
                                        @if (page.status === 'draft') {
                                            <mat-icon color="primary" fontIcon="draw"></mat-icon>
                                        }
                                        <a [routerLink]="['/p', ui, pi]">
                                            {{page.title}}
                                        </a>
                                    </h3>
                                </mat-card-title>
                                @if (page.hero_section) {
                                    <mat-card-subtitle>
                                        {{page.hero_section.subhead}}
                                    </mat-card-subtitle>
                                }
                            </div>
                            <div class="card-progress">
                                <app-progress-spinner [size]="50" [value]="pageProgressPercent(unit, page)">
                                    <small>{{pageProgressPercent(unit, page)}}%</small>
                                </app-progress-spinner>
                            </div>
                        </mat-card-header>
                        <mat-card-content class="card-content">
                            <p>
                                @if (page.hero_section && page.hero_section.image) {
                                    <img class="thumbnail" mat-card-image [src]="page.hero_section.image" [alt]="page.hero_section.image_info" />
                                } @else {
                                    <mat-divider />
                                }
                            </p>
                        </mat-card-content>
                        <mat-card-footer class="footer">
                            @if (pageProgressPercent(unit, page) > 99) {
                                <mat-icon fontIcon="task_alt"/> Erledigt
                            } @else {
                                <mat-icon fontIcon="radio_button_unchecked"/> Offen
                            }
                        </mat-card-footer>
                    </mat-card>
                }
            </div>
        </div>
    }
</app-loading>