<div class="card-container">
    @for (item of controls; track $index) {
        <mat-card class="card" [@next]="show($index) ? 'expanded' : 'collapsed'">
            <mat-card-header>
                <mat-card-title class="title">
                    {{item.value.caption}}
                </mat-card-title>
            </mat-card-header>
            @if(item.type === 'select') {
                <mat-card-content class="content">
                    <mat-button-toggle-group class="select-group"
                        [ngClass]="{'wrap-options': item.value.multiline}"
                        [name]="item.value.id" 
                        [multiple]="item.value.multiple"
                        [disabled]="disabled($index)">
                        @for(opt of item.value.options; track $index) {
                            <mat-button-toggle [value]="opt">
                                {{opt}}
                            </mat-button-toggle>
                        }
                    </mat-button-toggle-group>
                </mat-card-content>
            } @else if (item.type === 'textarea') {
                <mat-card-content class="content">
                    <mat-form-field class="field" appearance="outline">
                        <textarea matInput [name]="item.value.id" 
                            [disabled]="disabled($index)"
                            [placeholder]="item.value.placeholder"
                            ></textarea>
                    </mat-form-field>
                </mat-card-content>
            }
        </mat-card>
    }
    <div class="footer" [@next]="!done ? 'expanded' : 'collapsed'">
        <mat-progress-spinner color="primary" diameter="60" mode="determinate" [value]="progress" />
        <button mat-icon-button class="next" role="button" color="primary"
            [title]="last ? 'Fertig' : 'Weiter'" (click)="next()">
            <mat-icon [fontIcon]="last ? 'check' : 'arrow_downward'" />
        </button>
    </div>
</div>