<ng-template #loading><app-loading /></ng-template>

<ng-container *ngIf="currentPage$ | async as page; else loading">
    <app-hero-section [hero-section]="page.hero_section"/>

    @for (item of page.content; track $index) {
        
        @if (item.type === 'iframe' && item.value) {
            <div class="content" [@next]="show($index)">
                <app-iframe [value]="item.value" />
            </div>
        } @else if (item.type === 'text') {
            <div class="content" [@next]="show($index)" [innerHtml]="item.value | marked | async"></div>
        } @else if (item.type === 'expand') {
            <div class="content" [@next]="show($index)">
                <app-expand 
                    [title]="item.value.title" [description]="item.value.description">
                    <span [innerHtml]="item.value.content | marked | async"></span>
                </app-expand>
            </div>
        } @else if (item.type === 'stepper') {
            <form class="content" [@next]="show($index)">
                <app-input-stepper [data]="page.data" [definitions]="item.value" (continue)="continue($event)" />
            </form>
        } @else if (item.type === 'slider') {
            <app-image-slider [@next]="show($index)" [images]="item.value" height="50vh" />
        } @else {
            <pre class="content" [@next]="show($index)" title="{{item.type}}">{{item.value | json}}</pre>
        }
    }

    <footer class="centered">
        @if (!page.footer_override) {
            @if (page.prevIndex !== undefined) {
                <a role="button" mat-button color="primary" aria-label="Vorherige Seite"
                [routerLink]="[ '/p', page.unitIndex, page.prevIndex ]">
                    <span class="prev">
                        <mat-icon fontIcon="arrow_back" /> &nbsp;Vorherige Seite
                    </span>
                </a> 
            }
            @if (page.nextIndex !== undefined) {
                <a role="button" mat-button color="primary" aria-label="Nächste Seite"
                [routerLink]="[ '/p', page.unitIndex, page.nextIndex ]" 
                (click)="next(page.data)" [disabled]="page.nextDisabled()">
                    <span class="next">
                        <mat-icon fontIcon="arrow_forward" /> Nächste Seite&nbsp;
                    </span>
                </a>
            } @else {
                <a role="button" mat-button color="primary" aria-label="Abschließen"
                    (click)="complete(page.data)" [disabled]="page.nextDisabled()">
                    <span class="next">            
                        <mat-icon fontIcon="check_small" /> Abschließen&nbsp;
                    </span>
                </a>
            }
        } @else {
            <span [innerHTML]="page.footer_override | marked | async"></span>
        }
    </footer>
</ng-container>