<ng-template #loading>
    Lade Inhalt...
</ng-template>

<ng-container *ngIf="currentPage$ | async as page; else loading">
    <app-hero-section [hero-section]="page.hero_section"/>

    <div class="content">    
        @for (item of page.content; track $index) {
            @if (item.type === 'iframe' && item.value) {
                <iframe [src]="item.value.src | safeUrl" [title]="item.value.title"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen width="560" height="315" frameborder="0"></iframe>
            } @else if (item.type === 'text') {
                <div innerHtml={{item.value}}></div>
            } @else {
                <pre>{{item | json}}</pre>
            }
        }
    </div>

    <footer>
        @if (page.prevIndex !== undefined) {
            <a mat-button [routerLink]="[ '/p', unitIndex, page.prevIndex ]">
                Zurück
            </a> 
            &mdash;
        }
        @if (page.nextIndex !== undefined) {
            <a mat-button color="primary" [routerLink]="[ '/p', unitIndex, page.nextIndex ]">
                Weiter
            </a>
        } @else {
            <a mat-button color="primary" routerLink="/">
                Abschließen
            </a>
        }
    </footer>
</ng-container>