<ng-template #title>
  <img src="assets/icons/logo.svg" alt="Why" width="24"/> 
  <strong>&nbsp; Why</strong>
</ng-template>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer 
      class="sidenav blur" 
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="blur" *ngIf="(isHandset$ | async)">
      <ng-container *ngTemplateOutlet="title"></ng-container>
    </mat-toolbar>
    <mat-nav-list>
      <ul>
        @for (item of routes; track item.path) {
          <li>
            <a mat-list-item [routerLink]="item.path">
              <mat-icon color="accent" fontIcon="{{item.icon}}"></mat-icon>
              {{item.title}}
            </a>
          </li>  
        }
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- <mat-toolbar [style.top]="toolbarTop$ | async"> -->
    <mat-toolbar class="blur">
      @if (isHandset$ | async) {
        <button mat-icon-button
          aria-label="Toggle sidenav"
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <ng-container *ngTemplateOutlet="title"></ng-container>
      <span>&nbsp;&mdash; A philosophical tool for your existential journey.</span>
      <span class="spacer"></span>
    </mat-toolbar>

    <ng-content />

    <footer>
      <ul class="inline">
      @for (item of routes; track item.path; let last = $last) {
        <li [class.pipe]="!last" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="item.path">
            {{item.title}}
          </a>
        </li>
      }
      </ul>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
