<div *ngFor="let post of blogPosts$ | async">
    <div class="post">
        <div *ngIf="post.images?.length" class="thumbnail">
            <img class="thumbnail" [src]="post.images[0].value" />
        </div>
        <h2>
            <a [routerLink]="['/post', post.id]">{{post.title}}</a>
        </h2>
        <p>{{post.excerpt}}</p>
        <div class="label-group">
            @for (tag of post.tags; track $index) {
                <a [routerLink]="['/blog', tag]" class="label">{{tag}}</a>
            }
        </div>
    </div>
</div>